<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.surveypro.mapper.MemberMapper">
    <insert id="insert" parameterType="Member">
        INSERT INTO member (email, password, nickname, regdate)
        VALUES (#{email}, #{password}, #{nickname}, CURRENT_TIMESTAMP)
    </insert>

    <select id="find" parameterType="String" resultType="String">
        select ${column} from member where ${column} = #{value}
    </select>

    <select id="login" parameterType="String" resultType="Member">
        select * from member where email=#{email} and password=#{password}
    </select>

    <update id="update" parameterType="Member">
        update member set password=#{password} where email=#{email} and nickname=#{nickname}
    </update>

</mapper>
